In [ ]:
import sqlite3

# Initialize Sqlite DB
conn = sqlite3.connect('joins.db')
cursor = conn.cursor()

In [1]:
# Creating SQL Tables


# cursor.execute("""
# CREATE TABLE Employees (
#     EmployeeID INT PRIMARY KEY,
#     Name VARCHAR(100),
#     DepartmentID INT,
#     Salary DECIMAL(10,2)
# );""")

# cursor.execute("""
       
# CREATE TABLE Departments (
#     DepartmentID INT PRIMARY KEY,
#     DepartmentName VARCHAR(100)
# );
# """)

# cursor.execute("""
       
# CREATE TABLE Project (
#     ProjectID INT PRIMARY KEY,
#     ProjectName VARCHAR(100)
# );
# """)

# cursor.execute("""
       
# CREATE TABLE EmployeeProjects (
#     EmployeeID INT,
#     ProjectID INT,
#     HoursWorked INT,
#     PRIMARY KEY (EmployeeID, ProjectID),
#     FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID),
#     FOREIGN KEY (ProjectID) REFERENCES Projects(ProjectID)
# );
# """)

In [2]:
# Inserting the data into tables


# cursor.execute("""
# INSERT INTO Employees (EmployeeID, Name, DepartmentID, Salary) VALUES
# (1, 'Anna Kowalska', 1, 5000.00),
# (2, 'Jan Nowak', 2, 6000.00),
# (3, 'Piotr Wiśniewski', NULL, 4500.00),
# (4, 'Maria Zielińska', 1, 5200.00);
# """)

# cursor.execute("""
       
# INSERT INTO Departments (DepartmentID, DepartmentName) VALUES
# (1, 'IT'),
# (2, 'HR'),
# (3, 'Marketing');
# """)

# cursor.execute("""
       
# INSERT INTO Projects (ProjectID, ProjectName) VALUES
# (1, 'System CRM'),
# (2, 'Strona WWW'),
# (3, 'Aplikacja mobilna');
# """)

# cursor.execute("""

# INSERT INTO EmployeeProjects (EmployeeID, ProjectID, HoursWorked) VALUES
# (1, 1, 20),
# (1, 2, 15),
# (2, 3, 30),
# (4, 1, 25);
        
# """)

In [3]:
# Zadania do ćwiczeń
# 1. Wykonaj INNER JOIN między tabelami Employees i Departments, aby uzyskać listę pracowników wraz z nazwami działów.
# 2. Wykonaj LEFT JOIN między tabelami Employees i EmployeeProjects, aby zobaczyć, którzy pracownicy są przypisani do projektów, a którzy nie.
# 3. Wykonaj RIGHT JOIN między tabelami Departments i Employees, aby zobaczyć wszystkie działy, nawet te bez pracowników.
# 4. Wykonaj FULL OUTER JOIN między Employees i EmployeeProjects, aby zobaczyć pełne powiązania pracowników z projektami.
# 5. Wykonaj CROSS JOIN między Employees i Projects, aby zobaczyć wszystkie możliwe kombinacje pracowników i projektów.
# 6. Wykonaj THETA JOIN między Employees i EmployeeProjects, gdzie HoursWorked > 20.

In [4]:
# Zad.1 Wykonaj INNER JOIN między tabelami Employees i Departments, aby uzyskać listę pracowników wraz z nazwami działów.

cursor.execute("SELECT * FROM Employees E INNER JOIN Departments D ON E.DepartmentID = D.DepartmentID ;")
rows = cursor.fetchall()
for row in rows:
    print(row)

NameError: name 'cursor' is not defined

In [ ]:
# Zad 2. Wykonaj LEFT JOIN między tabelami Employees i EmployeeProjects, aby zobaczyć, którzy pracownicy są przypisani do projektów, a którzy nie.

cursor.execute("SELECT * FROM EmployeeProjects EP LEFT JOIN Employees E ON E.EmployeeID = EP.EmployeeID ;")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
# Zad 3. Wykonaj RIGHT JOIN między tabelami Departments i Employees, aby zobaczyć wszystkie działy, nawet te bez pracowników.

cursor.execute("SELECT * FROM Employees E RIGHT JOIN Departments D ON D.DepartmentID = E.DepartmentID ;")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
# Zad 4. Wykonaj FULL OUTER JOIN między Employees i EmployeeProjects, aby zobaczyć pełne powiązania pracowników z projektami.

cursor.execute("SELECT * FROM Employees E FULL OUTER JOIN EmployeeProjects EP ON E.EmployeeID = EP.EmployeeID ;")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
# Zad 5. Wykonaj CROSS JOIN między Employees i Projects, aby zobaczyć wszystkie możliwe kombinacje pracowników i projektów.

cursor.execute("SELECT * FROM Employees E CROSS JOIN Projects P;")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
# Zad 6. Wykonaj THETA JOIN między Employees i EmployeeProjects, gdzie HoursWorked > 20.

cursor.execute("SELECT * FROM Employees E JOIN EmployeeProjects EP ON EP.HoursWorked > 20 ;")
rows = cursor.fetchall()
for row in rows:
    print(row)